.splide__pagination__page.is-active {
	background-color: var(--attention);
}

#gallery {
	width: 100vw;
	max-width: 1200px;
}

.ph {
	overflow: hidden;
}

.phImg {
	height: 80vh;
	max-height: 80vh;
	max-width: 1200px;
}
