$white: #fefefe;
$black: #111;
$main: #B21580;
$gray: #888;
$font-stack: Helvetica, Roboto, sans-serif;

body{
    font-family: $font-stack;
    background: $white;
}

a{
    color: $main;
    text-decoration: none;
}

#header{
    display:flex;
    width: 100vw;
    height: 100px;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    align-items: stretch;
    header{
        min-width: 100%;
        max-width: 1200px;
        margin: 1em 0;
        background: red;
        color: $main;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
